
.container{
  margin: 0%;
  padding: 0%;
  width: 100%;

}
.card-header span {
    font-size: 1.5rem; /* Aumenta el tamaño del texto */
    font-weight: bold; /* Hace que el texto sea negrita */
   
   
}
.card{
margin-top: 15px;
margin-left: 25px;
margin-right: 25px;
box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);

.ordenar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:black;
  padding: 0;
  font-size: 20px;
  font-family: 'Arial Narrow';
  min-width: auto; 
  font-weight: bold;
  /*Para poner las fechhitas &#8593;&#8595 es en el html*/
}

.ordenar:hover {
  color: #0056b3;
}


}
.btn-custom{
 height: 25px;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 170px;
 margin-right: 35px;
 margin-top: 20px;

color: white;

}
.card-body{
  margin: 0%;
 padding-top: 0%;
}
.titulo{
  font-size: 25;
  font-family:'Arial Narrow' ;
  margin-left: 10px;
  margin-right: 15px;
}
th{

  font-size: 20px;
  font-family: 'Arial Narrow';
  min-width: auto; /* Aumenta el ancho mínimo según sea necesario */
  font-weight: bold;
  
}
td{
  margin-bottom: 0%;
  margin-top: 0%;
  font-size: 15px;
}
.table td, .table th{
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 5px;

}

#btn-eliminar{
  color: red;
  font-size: 15px;
  padding: 0%;
  margin-bottom: 0%;
}
#btn-editar{
  color: rgb(255, 217, 0);
  font-size: 15px;
  padding: 0%;
  margin-top: 0%;

}
.agregar{
  padding: 0%;
  margin: 0%;
}
.custom-input-small {
    height: 30px; /* Ajusta la altura según sea necesario */
    width: 200px; /* Ajusta el ancho según sea necesario */
}
.ml-auto {
    margin-left: auto;
}

.app-content {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
}

  
  .sidebar {
    background-color: rgb(4, 4, 92); /* Color de fondo de la barra lateral */
    padding: 20px;  /*Espacio interior de la barra lateral */
    width: 170px;

    

  }

  .buscar {
    position: absolute;
    top: 12px; /* Ajusta según sea necesario */
    right: 35px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    margin-right: 35px;
    margin-top: 20px;
    padding: 0%;
    margin: 0%;
  }
  
  .buscar input {
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
  }
  
  .buscar button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .buscar button:hover {
    background-color: #0056b3;
  }
  

  /* Estilos para la barra de navegación */
/*.navbar {
    background-color: rgb(92, 64, 4);
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }*/

  /* Media query para pantallas de tamaño pequeño (menos de 600px) */
@media (max-width: 600px) {
  .app-content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .card {
    margin: 10px;
  }

  .btn-custom {
    width: 100%;
    margin: 10px 0;
  }
}

/* Media query para pantallas de tamaño mediano (entre 600px y 1200px) */
@media (min-width: 600px) and (max-width: 1200px) {
  .app-content {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
  }

  .card {
    margin: 20px;
  }

  .btn-custom {
    width: 150px;
    margin: 20px 0;
  }
}