

  <div class="app-content">
    <div class="sidebar">
        <a href="/"><img src="https://seowebmas.redcuba.cu/favicon.ico" alt="Logo" width="80" height="80"></a>
    </div>

    <div class="" style="background-color: rgb(252, 249, 206);">
        <!--<div id="agregar" class="d-flex justify-content-end" ><a href="/listar" class="btn btn-success text-decoration-none align-content-end btn-custom " style="font-size: 13px; background-color:  color rgb(1, 173, 29); ;" id="boton">
            <i class="fas fa-plus " style="font-size: 10px; margin-right: 3px;" ></i> SENTENCIAS
        </a> </div>-->

<div class="card formulario">
    <div class="card-header d-flex align-items-center justify-content-start gap-3 titulo " style="background-color: white;">AGREGAR SENTENCIA</div>
    <div class="card-body">
        <form [formGroup]="formularioDeVariable">
            <div class="mb-3">
                <label for="nombreVariable" class="form-label">Nombre de Variable</label>
                <input type="text" class="form-control" formControlName="nombreVariable" id="nombreVariable" aria-describedby="nombreHelp" placeholder="Escribe el nombre de la variable">
                <div *ngIf="formularioDeVariable.controls['nombreVariable'].errors?.['required'] && (formularioDeVariable.controls['nombreVariable'].dirty || formularioDeVariable.controls['nombreVariable'].touched)" class="text-danger">
                    El nombre de variable es requerido.
                </div>
            </div>
            
            <div class="mb-3">
                <label for="indicador" class="form-label">Indicador</label>
                <input type="text" class="form-control" formControlName="indicador" id="indicador" aria-describedby="indicadorHelp" placeholder="Escriba el indicador">
                <div *ngIf="formularioDeVariable.controls['indicador'].errors?.['required'] && (formularioDeVariable.controls['indicador'].dirty || formularioDeVariable.controls['indicador'].touched)" class="text-danger">
                    El indicador es requerido.
                </div>
            </div>
            
            <div class="mb-3">
                <label for="evaluacion" class="form-label">Evaluación</label>
                <input type="text" class="form-control" formControlName="evaluacion" id="evaluacion" aria-describedby="evaluacionHelp" placeholder="Escribe el resultado de la evaluación">
                <div *ngIf="formularioDeVariable.controls['evaluacion'].errors?.['required'] && (formularioDeVariable.controls['evaluacion'].dirty || formularioDeVariable.controls['evaluacion'].touched)" class="text-danger">
                    La evaluación es requerida.
                </div>
                <div *ngIf="formularioDeVariable.controls['evaluacion'].errors?.['pattern'] && (formularioDeVariable.controls['evaluacion'].dirty || formularioDeVariable.controls['evaluacion'].touched)" class="text-danger">
                    La evaluación solo puede contener enteros o decimales.
                </div>
            </div>

            <div class="mb-3">
                <label for="sentencia" class="form-label">Sentencia</label>
                <input type="text" class="form-control" formControlName="sentencia" id="sentencia" aria-describedby="sentenciaHelp" placeholder="Escribe la sentencia">
                <div *ngIf="formularioDeVariable.controls['sentencia'].errors?.['required'] && (formularioDeVariable.controls['sentencia'].dirty || formularioDeVariable.controls['sentencia'].touched)" class="text-danger">
                    La sentencia es requerida.
                </div>
            </div>

            <div class="mb-3">
                <label for="impacto" class="form-label">Impacto</label>
                <input type="text" class="form-control" formControlName="impacto" id="impacto" aria-describedby="impactoHelp" placeholder="Escribe el nivel de impacto de la variable para un buen SEO">
                <div *ngIf="formularioDeVariable.controls['impacto'].errors?.['required'] && (formularioDeVariable.controls['impacto'].dirty || formularioDeVariable.controls['impacto'].touched)" class="text-danger">
                    El impacto es requerido.
                </div>
                <div *ngIf="formularioDeVariable.controls['impacto'].errors?.['pattern'] && (formularioDeVariable.controls['impacto'].dirty || formularioDeVariable.controls['impacto'].touched)" class="text-danger">
                    El impacto solo puede contener números.
                </div>
            </div>

            <div class="mb-3">
                <label for="dificultad" class="form-label">Dificultad</label>
                <input type="text" class="form-control" formControlName="dificultad" id="dificultad" aria-describedby="dificultadHelp" placeholder="Escribe el nivel de dificultad de modificar la variable">
                <div *ngIf="formularioDeVariable.controls['dificultad'].errors?.['required'] && (formularioDeVariable.controls['dificultad'].dirty || formularioDeVariable.controls['dificultad'].touched)" class="text-danger">
                    La dificultad es requerida.
                </div>
                <div *ngIf="formularioDeVariable.controls['dificultad'].errors?.['pattern'] && (formularioDeVariable.controls['dificultad'].dirty || formularioDeVariable.controls['dificultad'].touched)" class="text-danger">
                    La dificultad solo puede contener números.
                </div>
            </div>
    
            <div class=" botones" role="group" aria-label="">
                <button type="button" class="btn btn-cancelar text-decoration-none me-3"  (click)="volver()">Cancelar</button>
                <button type="button" class="btn btn-agregar text-decoration-none" (click)="enviarDatos()">Agregar</button>
            </div>
        </form>
    </div>
</div>
</div>
