.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(4, 4, 92);
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: rgb(4, 4, 92);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(214, 212, 212);
}

.titulo {
  color: black;
}
